{% extends "base.html" %}
{% load static %}
{% block title %}
  Публикации в категории {{ category_slug }}
{% endblock %}
{% block content %}
  <h1>Публикации в категории {{ category_slug }}</h1>

  {% if posts %}
    {% for post in posts %}
      <hr>
      <article>
        <ul>
          <li>Место: {{ post.location }}</li>
          <li>Дата: {{ post.date }}</li>
          <li>Категория:
            <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
          </li>
        </ul>
        <p style="white-space: pre-wrap;">{{ post.text }}</p>
        <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      </article>
    {% endfor %}
  {% else %}
    <p>Постов в этой категории пока нет.</p>
  {% endif %}
{% endblock %}
